h1 { 
    color: yellowgreen;
} 
h2  { 
    color: red;
} 
table,th,td  { 
    border: 3px  solid brown;
} 
p  { 
    color: goldenrod;
} 
body  { 
    color: black;
} 
li { 
    color: navy;
} 